extends page_template

block content
  div#feed-content
    for photo in photos
      span.feed-image-div
        img.feed-image(src='/photos/thumbnail/#{photo.path}')
        div.feed-caption
          span 
            a.name-link(href='/users/#{photo.id}')=photo.name
            span.date-span=photo.time
      br